<!doctype html>
<html lang="ko">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>단국대학교 수강신청 시스템</title>
  <link rel="stylesheet" href="/css/style.min.css" />
</head>
<script type="text/javascript">

var errorMessage = "";
if (errorMessage != "") {
    alert(errorMessage);
}
    
$("#findId").on("click",function(e){
  e.preventDefault();
  var url = "findId.do";
  var title = "아이디 찾기";/* 아이디 찾기 */
    window.open(url, title, "width=600, height=400, top=100 ,left=100, resizable=no, scrollbars=yes, status=no");
});
    
$("#loginInfo").click(function(e){
  e.preventDefault();
  var url = "https://portal.dankook.ac.kr/web/portal/-7?p_p_id=Bbs_WAR_bbsportlet&p_p_lifecycle=0&p_p_state=normal&p_p_mode=view&_Bbs_WAR_bbsportlet_action=view_message&_Bbs_WAR_bbsportlet_messageId=414590";
  var title = "불법 S/W 사용 의심자 안내";/* 불법 S/W 사용 의심자 안내 */
  window.open(url, title, "width=1200, height=1600, top=100 ,left=100, resizable=yes, scrollbars=yes, status=yes");
});

function srvTime(){//서버시간 불러오기
  if (window.XMLHttpRequest) {//분기하지 않으면 IE에서만 작동된다.
    xmlHttp = new XMLHttpRequest(); // IE 7.0 이상, 크롬, 파이어폭스 등
    xmlHttp.open('HEAD',window.location.href.toString(),false);
    xmlHttp.setRequestHeader("Content-Type", "text/html");
    xmlHttp.send('');
    return xmlHttp.getResponseHeader("Date");
  }
  else if (window.ActiveXObject) {
    xmlHttp = new ActiveXObject('Msxml2.XMLHTTP');
    xmlHttp.open('HEAD',window.location.href.toString(),false);
    xmlHttp.setRequestHeader("Content-Type", "text/html");
    xmlHttp.send('');
    return xmlHttp.getResponseHeader("Date");
  }
}

//현재시간 나타내기
function printClock(){
  var clock = document.getElementById("clock");  // 출력할 장소 선택
  var amPm = 'AM'; // 초기값 AM
    
  var st = srvTime();
  var currentDate = new Date(st);
  var currentHours = addZeros(currentDate.getHours(),2); //시
  var currentMinute = addZeros(currentDate.getMinutes(),2); //분
  var currentSeconds =  addZeros(currentDate.getSeconds(),2); //초
    
  if(currentHours >= 12){ // 시간이 12보다 클 때 PM으로 세팅, 12를 빼줌
  	amPm = 'PM';
  	currentHours = addZeros(currentHours - 12,2);
  }
  if(currentSeconds >= 50){// 50초 이상일 때 색을 변환해 준다.
    currentSeconds = '<span style="color:#de1951;">'+currentSeconds+'</span>'
  }
  clock.innerHTML = "현재시간 "+currentHours+":"+currentMinute+":"+currentSeconds +" <span style='font-size:50px;'>"+ amPm+"</span>"; //날짜를 출력해 줌
 
  setTimeout("printClock()",1000);   // 1초마다 printClock() 함수 호출    
}

function addZeros(num, digit) { // 자릿수 맞춰주기
	  var zero = '';
	  num = num.toString();
	  if (num.length < digit) {
	    for (i = 0; i < digit - num.length; i++) {
	      zero += '0';
	    }
	  }
	  return zero + num;
}

//로그인시 체크사항
function check(){
  var id = document.getElementById('user_email');
  var pw = document.getElementById('user_password');
  var exptext = /^[A-Za-z0-9_\.\-]+@[A-Za-z0-9\-]+\.[A-Za-z0-9\-]+/;
  var users_emails = [];
  // var users_pws = [];
  
  <% for e in @users_emails %>
    users_emails.push("<%= e %>");
  <% end %>
  // <#% for p in @users_pws %>
  //   users_pws.push("<#%= p %>");
  // <#% end %>

  // var index = users_emails.indexOf(id.value);
  
  if(id.value == ''){//이메일 입력했는지
    alert("이메일을 입력하여 주세요.");
  }
  else if(exptext.test(id.value) == false){//이메일 형식 체크
    alert("메일형식이 올바르지 않습니다.");
  }
  else if(pw.value == ''){//비밀번호 입력했는지
    alert("비밀번호를 입력하여 주세요.");
  }
  else{//이메일이 존재하는지
    if(!(users_emails.includes(id.value))){
      alert("등록되지 않은 이메일입니다.");
    }
    else{//비밀번호가 일치하는지
      return true;
    }
  }

  return false; //새로고침 막기`
}

/*엔터키 넘어가게 하기*/
function enter(){
  if(event.keyCode == 13)
     {
       document.getElementById('new_user').submit();
     }
}

</script>

<body id="body" class="login">
  <div class="wrap">
    <body onload="printClock()">
	  <div id="clock"></div>
    <p style="padding-top:35px; display:inline-block">&nbsp-> 실제 수강신청 시에는 <strong>단국대학교 서버시간</strong>을 참고하세요!</p>
    </body>
    <div id="header">
      <form id="locale" method="get">
      <p style="margin-top:10px; margin-left:50px; display:inline-block;">현재까지 총 <span style="font-weight: bold; color:#4c6aac"><%= @users.length %>명</span>이 이용하였습니다</p>
      <div class="util_box">

      </div>
      </form>
    </div>

    <div id="contents">
      <div class="cont">
        <div class="login_box">
          <h1><img src="/images/login/txt_login.png" alt="course registration system" class="loginimg" /></h1><!-- 0427 h태그변경 -->
          <!-- 로그인 폼 -->
          <form novalidate="novalidate" class="simple_form new_user" id="new_user" action="/users/sign_in" accept-charset="UTF-8" method="post">
            <!--<input name="utf8" type="hidden" value="✓">-->
            <!--<input type="hidden" name="authenticity_token" value="gB7oOlEQgR3l+iTYWyeoBVRWguzBs8gU80Wtm9RllgidnT5xjj4XrKHXT1jEyo0IkhO83GSeWuS62MNrDiTqsQ==">-->
            <div class="login_frm">
              <h2>단국대학교 <span style="color:red">모의</span> 수강신청시스템 로그인</h2>
              <ul style="margin-left:50px">
                <li><div class="input email optional user_email"><input class="string email optional" autofocus="autofocus" placeholder="이메일을 입력하여 주세요." type="email" value="" name="user[email]" id="user_email"></div></li>
                <li><div class="input password optional user_password"><input class="password optional" placeholder="비밀번호를 입력하여 주세요." type="password" value="" name="user[password]" id="user_password" onkeydown="enter();"></div></li>
              </ul>
              <button onclick="return check()" class="mybtn" name="commit" value="Log in" class="btn" style="margin-left:10px">Login</button>
            </div>
          </form>
          <!-- //로그인 폼 -->

          <div class="find_frm"  style="margin-left:50px">
            <a href="sign_up">회원가입</a>

            <a href="/users/password/new">비밀번호 찾기</a>

          </div>

          <!-- 코멘트 -->
          <div class="login_txt">
            <dt><strong>단국대학교 모의 수강신청 페이지 안내</strong></dt>
            <dd>본 페이지는 <span style="color:orange; font-weight:bold;">멋쟁이 사자처럼 6기 운영진</span>들이 만든 모의 수강신청 페이지입니다.<br /> 수강신청을 준비하는 학생들에게 많은 도움이 되었으면 좋겠습니다 :)</dd>
            <dd><ul class="lst_hyphen">
              <li><span class="lst_head">-</span>모의 수강신청을 하기위해 <strong>아주 간단한 회원가입</strong>이 필요합니다<span style="color:red">(3초)</span></li>
              <li><span class="lst_head">-</span>본 서비스는 <span style="color:red; font-weight:bold;">Chrome</span>브라우저를 권장합니다<br />(Internet Explorer에서는 일부 기능이 작동하지 않을 수 있습니다ㅠㅠ)</li>
              <li><span class="lst_head">-</span>실제 수강신청 작동방식을 최대한 비슷하게 구현해보고 추가 기능을 넣었습니다<br /> <u>실제페이지와 착오 없으시길 바랍니다.</u></li>
            </ul></dd>
            
            <dt><strong>연습</strong></dt>
            <dd>수강신청 화면을 완벽한 숙지후 올클을 하고 싶은 분들! 수강신청 전에 꼭 보고가세요^^*</dd>
            
            <dt><strong>이벤트</strong></dt>
            <dd>자신이 몇등으로 클릭했는지,얼마나 빨리 클릭해야하는지 알고싶지 않나요?<br /><strong>매일 오전10시, 오후7시부터 10분간</strong> 오픈해 동시에 접속한 사람들 중 몇등으로 눌렀는지 보여드립니다</dd>
            <dd><ul class="lst_hyphen">
              <li><span class="lst_head">-</span><b>더블클릭+엔터</b>의 연습을 위해 전과목에 더블클릭시 경고창이 나타나도록 하였습니다</li>
              <li><span class="lst_head">-</span>전과목을 광클한 뒤 <b>결과 확인하기 버튼</b>까지 눌러야 기록이 저장됩니다!</li>
              <li><span class="lst_head">-</span><b>올클한 분들 중 선착순 5분께 </b> <span style="color:red;">작은 선물</span>을 드립니다 친구들과 함께 도전하세요!!<br /> (하단의 카카오톡 플러스친구로 연락주세요! 문의/건의사항도 환영합니다)</li>
              <li><span class="lst_head">-</span>전과목을 광클한 뒤 <b>결과 확인하기 버튼</b>까지 눌러야 기록이 저장됩니다!</li>
              <li><span class="lst_head">-</span><b>올클한 분들 중 선착순 5분께 </b> <span style="color:red;">작은 선물</span>을 드립니다 친구들과 함께 도전하세요!!<br /> (하단의 카카오톡 플러스친구로 연락주세요! 문의/건의사항도 환영합니다)</li>
            </ul></dd>
          </div>
          <!-- //코멘트 -->
        </div>
      </div>
    </div>
    <div id="footer">
      <div class="addr_box">
        <p class="addr"><b>BY 멋쟁이사자처럼 6기 단국대(죽전) 운영진</b></p>
        <p>카카오톡 플러스친구: @likeliondku</p>
        <p class="footer_a">사이트: <a class="footer_a" href="https://likeliondku.herokuapp.com" target="_blank">likeliondku.herokuapp.com</a></p>
        <p>페이스북: <a class="footer_a" href="https://www.facebook.com/likeliondku" target="_blank">www.facebook.com/likeliondku</a></p>
      </div>
    </div>
  </div>
</body>
</html>