<html>
    <head>
        
    </head>
    <body>
        <h1>다음 수강신청에 봬요!</h1>
        <p>안녕하세요. 멋쟁이 사자처럼 단국대(죽전) 운영진 입니다.
        약 한달 반의 기간동안 많은 분들이 멋사모의수강신청 서비스를 이용해 주셨습니다.
        단기간에 </p>
    </body>
</html>