<!doctype html>
<html lang="ko">

<head>
  <!--<base href="http://sugang.dankook.ac.kr:80/">-->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>단국대학교 수강신청 시스템</title>
  <!--<link rel="shortcut icon" type="image/x-icon" href="images/layout/favicon.ICO" />-->
  <link rel="stylesheet" type="text/css" href="/css/style.min.css">
  <link rel="stylesheet" href="/css/widgets/jquery-ui.min.css" />
  <script src="/js/jquery/jquery-1.11.1.min.js" ></script>
  <script src="/js/placeholder/placeholders.min.js"></script>
  <script src="/js/widgets/jquery-ui.min.js" ></script>
  <script src="/js/common.js"></script>
  <script src="/js/style.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<script type="text/javascript">
var errorMessage = "";
if (errorMessage != "") {
    alert(errorMessage);
}

$(document).ready(function() {
    $("#submit").click(function(e) {
        e.preventDefault();
        if($("#id").val() == ''){
        	alert("아이디를 입력하여 주세요.");
        	return false;
        } else {
            $("#logonForm").submit();
        }
    });

    $("#contents input").keydown(function(e) {
        if(e.keyCode == 13){
            e.preventDefault();
            if($("#id").val() == ''){
                alert("아이디를 입력하여 주세요.");
                return false;
            } else {
                $("#logonForm").submit();
            }
        }
    });
    
    $("#lang").val("ko").attr("selected", "selected");
    $("#lang").change(function () {
        if (this.value != "") {
            $("#locale").submit();
        }      
    });
    
    $("#logonForm #id").focus();
    $("#logonForm #id").keyup(function(e) {
        if ($(this).val().length == 8) {
            $("#logonForm #password").focus();
        }
    });
    
    $("#findId").on("click",function(e){
    	e.preventDefault();
    	var url = "findId.do";
    	var title = "아이디 찾기";/* 아이디 찾기 */
        window.open(url, title, "width=600, height=400, top=100 ,left=100, resizable=no, scrollbars=yes, status=no");
     });
    
    $("#loginInfo").click(function(e){
        e.preventDefault();
        var url = "https://portal.dankook.ac.kr/web/portal/-7?p_p_id=Bbs_WAR_bbsportlet&p_p_lifecycle=0&p_p_state=normal&p_p_mode=view&_Bbs_WAR_bbsportlet_action=view_message&_Bbs_WAR_bbsportlet_messageId=414590";
        var title = "불법 S/W 사용 의심자 안내";/* 불법 S/W 사용 의심자 안내 */
        window.open(url, title, "width=1200, height=1600, top=100 ,left=100, resizable=yes, scrollbars=yes, status=yes");
     });
});

//현재시간 나타내기
function printClock() {
    var clock = document.getElementById("clock");            // 출력할 장소 선택
    var currentDate = new Date();                                     // 현재시간
    var calendar = currentDate.getFullYear() + "-" + (currentDate.getMonth()+1) + "-" + currentDate.getDate() // 현재 날짜
    var amPm = 'AM'; // 초기값 AM
    var currentHours = addZeros(currentDate.getHours(),2); //시
    var currentMinute = addZeros(currentDate.getMinutes() ,2); //분
    var currentSeconds =  addZeros(currentDate.getSeconds(),2); //초
    
    if(currentHours >= 12){ // 시간이 12보다 클 때 PM으로 세팅, 12를 빼줌
    	amPm = 'PM';
    	currentHours = addZeros(currentHours - 12,2);
    }

    if(currentSeconds >= 50){// 50초 이상일 때 색을 변환해 준다.
       currentSeconds = '<span style="color:#de1951;">'+currentSeconds+'</span>'
    }
    clock.innerHTML = "현재시간 "+currentHours+":"+currentMinute+":"+currentSeconds +" <span style='font-size:50px;'>"+ amPm+"</span>"; //날짜를 출력해 줌
    
    setTimeout("printClock()",1000);         // 1초마다 printClock() 함수 호출
}

function addZeros(num, digit) { // 자릿수 맞춰주기
	  var zero = '';
	  num = num.toString();
	  if (num.length < digit) {
	    for (i = 0; i < digit - num.length; i++) {
	      zero += '0';
	    }
	  }
	  return zero + num;
}

//리허설? 열리는 시간 체크
function checktime(){
  var currentDate = new Date();  // 현재시간
  var calendar = currentDate.getFullYear() + "-" + (currentDate.getMonth()+1) + "-" + currentDate.getDate() // 현재 날짜
  var currentHours = addZeros(currentDate.getHours()); //시
  var currentMinute = addZeros(currentDate.getMinutes()); //분
  var currentSeconds =  addZeros(currentDate.getSeconds()); //초

  if ( (currentHours == 10 || currentHours == 21) && (currentMinute <= 40) ){
    document.getElementById('logonForm').submit(); //form 아이디
  }
	else{
	  alert("수강신청 리허설은 오전10시,오후7시 정각부터 10분간 열립니다");
	}
}

</script>
<body id="body" class="login">
  <div class="wrap">
    <body onload="printClock()">
	  <div id="clock"></div>
    <p style="padding-top:80px">&nbsp-> 실제 수강신청 시에는 <strong>단국대학교 서버시간</strong>을 띄어놓으세요!</p>
    </body>
    <div id="header">
      <form id="locale" method="get">
      <p style="margin-top:10px; display:inline-block">현재까지 총 <span style="font-weight: bold; color:#4c6aac"><%= @users.length %>명</span>이 이용하였습니다</p>
      <div class="util_box">
        <label for="user_language">Please select a language</label>
        <select id="lang" name="lang">
          <option value="ko">한국어</option>
          <option value="en">English</option>
        </select>
      </div>
      </form>
    </div>

    <div id="contents">
      <div class="cont">
        <div class="login_box">
          <h1><img src="/images/login/txt_login.png" alt="course registration system" /></h1><!-- 0427 h태그변경 -->
          <!-- 로그인 폼 -->
          <form id="logonForm" method="post" action="main2" data-message="alert">
            <div class="login_frm">
              <h2>단국대학교 <span style="color:red">모의</span> 수강신청시스템 로그인</h2>
              <ul>
                <li><input type="text" id="id" name="id" placeholder="아이디를 입력하여 주세요." /></li>
                <li><input type="password" id="password" name="password" placeholder="비밀번호를 입력하여 주세요." /></li>
              </ul>
              <a href="home/main1"><img src="/images/login/btn_login.png" alt="로그인" style="width:70px; height:70px" /></a>
              <a onclick="checktime();"><img src="/images/login/btn_login.png" alt="로그인" style="width:70px; height:70px" /></a>
            </div>
          </form>
          <!-- //로그인 폼 -->

          <div class="find_frm">
            <a>회원가입</a>
            <a href="javascript:(0);" id="findId">아이디 찾기</a>
            <a href="https://webinfo.dankook.ac.kr/member/resetPasswordForm.do?type=dku&returnurl=http://sugangp.dankook.ac.kr/logon.do ">비밀번호 찾기</a>
          </div>

          <!-- 코멘트 -->
          <div class="login_txt">
            <dt><strong>단국대학교 모의 수강신청 페이지 안내</strong></dt>
            <dd>본 페이지는 <span style="color:orange; font-weight:bold;">멋쟁이 사자처럼 6기 운영진</span>들이 만든 모의 수강신청 페이지입니다.<br /> 수강신청을 준비하는 학생들에게 많은 도움이 되었으면 좋겠습니다 :)</dd>
            <dd><ul class="lst_hyphen">
              <li><span class="lst_head">-</span>모의 수강신청을 하기위해 <strong>아주 간단한 회원가입</strong>이 필요합니다<span style="color:red">(3초)</span></li>
              <li><span class="lst_head">-</span>본 서비스는 <strong>Chrome</strong>브라우저를 권장합니다<br />(Internet Explorer에서는 일부 기능이 작동하지 않을 수 있습니다ㅠㅠ)</li>
              <li><span class="lst_head">-</span>실제 수강신청 작동방식을 최대한 비슷하게 구현해보고 추가 기능을 넣었습니다.<br /> <u>실제페이지와 착오 없으시길 바랍니다.</u></li>
            </ul></dd>
            
            <dt><strong>이벤트</strong></dt>
            <dd>자신이 몇등으로 클릭했는지,얼마나 빨리 클릭해야하는지 알고싶지 않나요?<br /><strong>매일 오전10시, 오후7시부터 10분간</strong> 오픈해 동시에 접속한 사람들 중 몇등으로 눌렀는지 보여드립니다</dd>
            <dd><ul class="lst_hyphen">
              <li><span class="lst_head">-</span>동시 접속인원이 <strong>20명 이상일때 올클</strong>을 한경우, <span style="color:red">소정의 기프티콘</span>을 드립니다!<br /> 친구들과 함께 도전하세요!!</li>
            </ul></dd>
            
            <dt><strong>문의사항</strong></dt>
            <dd>문의 또는 건의사항이 있다면 카카오톡 플러스친구 <strong>likeliondku</strong>로 연락주세요!<br />(어떠한 연락이라도 환영합니다*^^*)</dd>
          </div>
          <!-- //코멘트 -->
        </div>
      </div>
    </div>
    <div id="footer">
      <div class="addr_box">
        <p class="addr">BY 단국대(죽전) 멋쟁이사자처럼 6기 운영진</p>
        <p>www.dkulikelion.org</p>
      </div>
    </div>
  </div>
</body>
</html>