<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<style>
		.tts{
			display: flex;
			align-items: flex-start;
			justify-content: center;
		}
	</style>
</head>
<body>
	<div style="text-align:center;">
		<h1 style="font-size: 30px; font-weight: bold;">모의 수강신청 리허설(이벤트) 시간표 입니다</h1>
		<h2 style="font-size: 30px; font-weight: bold;">수강신청 당일은 진짜 수강신청과 헷갈리지 않기 위해 아침 9시에 진행합니다.<br/>꼭 헷갈리지 마세요!</h2>
		<div class="tts">
			<img src="/timetable.png"></img>
			<img src="/timetable2.png"></img>
		</div>
	</div>
</body>
</html>