/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.name {
    display: inline-block;
    padding-right: 15px;
}

.result_a:hover {
    color: black;
}


.colabo-banner {
    text-align: center; 
    padding: 20px; 
    border-bottom:1px solid silver; 
    background-size: contain; 
    background-image:url('http://www.plthink.com/shopimages/plthink/0080320005622.jpg?1538385520');
    font-size: 20px;
  }
  .colabo-banner:hover {
  font-weight: 800;
  }
  .colabo-logos {
  margin-left: 5px;
  width: 30px; 
  border-radius: 50%;
  }