.sub_btn {
    width: 100%;
    height: 50px;
    font-size: 25px;
    background-color: #207799;
    color: white;
    border-radius: 10px;
    transition-duration: 0.2s;
    cursor: pointer;
}

.sub_btn:hover{
    background-color: white;
    color: #207799;
}

#Submit {
    margin: 50px auto;
    text-align: center;
}