.sub_btn {
    width: 100%;
    height: 50px;
    font-size: 25px;
    background-color: #207799;
    color: white;
    border-radius: 10px;
    transition-duration: 0.2s;
    cursor: pointer;
}

.sub_btn:hover{
    background-color: white;
    color: #207799;
}

#Submit {
    margin: 50px auto;
    text-align: center;
}

.sc{
    color: green;
}

.fa{
    color: red;
}

.table {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 50%!important;
}

.r_head {
    font-size: 40px;
    margin-top: 40px;
    text-align: center;
}

#allset {
    font-size: 1.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: #333;
}

table {
  text-align: center;
  line-height: 40px;
  border-collapse: separate;
  border-spacing: 0;
  border: 2px solid #ed1c40;
  width: 500px;
  margin: 50px auto;
  border-radius: .25rem;
}

thead tr:first-child {
  background: #ed1c40;
  color: #fff;
  border: none;
}

th:first-child,
td:first-child {
  padding: 0 15px 0 20px;
}

thead tr:last-child th {
  border-bottom: 3px solid #ddd;
}

tbody tr:hover {
  background-color: #f2f2f2;
  cursor: default;
}

tbody tr:last-child td {
  border: none;
}

tbody td {
  border-bottom: 1px solid #ddd;
}

td:last-child {
  text-align: center;
  padding-right: 10px;
}

.button {
  color: #aaa;
  cursor: pointer;
  vertical-align: middle;
  margin-top: -4px;
}

.edit:hover {
  color: #0a79df;
}

.delete:hover {
  color: #dc2a2a;
}

.notice {
    font-size: 20px;
    background-color: black;
    text-align: center;
    width: 20%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    color: white;
}

.loginimg {
    height: 49px;
    width: 381px;
}