<p>안녕하세요. <%= @resource.email %>님! '멋사모의수강신청' 입니다.</p>

<p>요청하신 비밀번호 재설정 메일입니다. 아래 링크를 통해 비밀번호를 재설정하세요.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>만약 본인이 이 메일을 요청하시지 않으셨다면, 무시하시고 삭제하세요.</p>
<p>위 링크로 접속하여 새 비밀번호를 설정할 때 까지, 비밀번호는 변하지 않습니다.</p>
