<h2>Sign up</h2>

<form class="new_user" id="new_user" action="/users" accept-charset="UTF-8" method="post">
  <input name="utf8" type="hidden" value="✓">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token %>">
  <%= devise_error_messages! %>

  <div class="field">
    <label for="user_email">Email</label><br>
    <input autofocus="autofocus" type="email" value="" name="user[email]" id="user_email">
  </div>

  <div class="field">
    <label for="user_password">Password</label>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <br>
    <input autocomplete="off" type="password" name="user[password]" id="user_password">
  </div>

  <div class="field">
    <label for="user_password_confirmation">Password confirmation</label><br>
    <input autocomplete="off" type="password" name="user[password_confirmation]" id="user_password_confirmation">
  </div>

  <div class="actions">
    <input type="submit" name="commit" value="Sign up">
  </div>
</form>

<%= render "users/shared/links" %>