<!DOCTYPE html>
<html>
  <head>
    <style>
      body {font-family: Arial;}
      * {box-sizing: border-box}
      /* Full-width input fields */
      input[type=email], input[type=password] {
          width: 100%;
          padding: 15px;
          margin: 5px 0 22px 0;
          display: inline-block;
          border: none;
          background: #f1f1f1;
      }
      
      /* Add a background color when the inputs get focus */
      input[type=email]:focus, input[type=password]:focus {
          background-color: #ddd;
          outline: none;
      }
      
      /* Set a style for all buttons */
      button {
          background-color: #4CAF50;
          color: white;
          padding: 14px 20px;
          margin: 8px 0;
          border: none;
          cursor: pointer;
          width: 100%;
          opacity: 0.9;
      }
      
      button:hover {
          opacity:1;
      }
      
      /* Extra styles for the cancel button */
      .cancelbtn {
          padding: 14px 20px;
          background-color: #f44336;
      }
      
      /* Float cancel and signup buttons and add an equal width */
      .cancelbtn, .signupbtn {
        float: left;
        width: 50%;
      }
      
      /* Add padding to container elements */
      .container {
          padding: 16px;
      }
      
      h1{
        display: block;
        font-size: 2em;
        font-weight: bold;
        margin-bottom: 16px;
      }
      
      /* Style the horizontal ruler */
      hr {
          border: 1px solid #f1f1f1;
          margin-bottom: 25px;
          display: block;
          unicode-bidi: isolate;
          overflow: hidden;
          border-style: inset;
          border-width: 1px;
      }
      
      /* Clear floats */
      .clearfix::after {
          content: "";
          clear: both;
          display: table;
      }
    </style>
<script>
  function back(){
     location.href="/";
  }
</script>
  </head>
  <body>
    <div id="id01" style="width:60%; margin:50px auto; border:1px solid gray;">
      <form novalidate="novalidate" class="simple_form new_user" id="new_user" action="/users" accept-charset="UTF-8" method="post">
        <div class="form-inputs container">
          <h1>회원가입</h1>
          <hr>
          <div class="input email required user_email">
            <label class="email required" for="user_email"><abbr title="required"></abbr><b>Email</b></label>
            <input class="string email required" autofocus="autofocus" required="required" aria-required="true" type="email" value="" name="user[email]" id="user_email" placeholder="Enter Email">
          </div>
          <div class="input password required user_password field_with_hint">
            <label class="password required" for="user_password"><abbr title="required"></abbr><b>Password</b>&nbsp<span class="hint">(6 characters minimum)</span></label>
            <input class="password required" required="required" aria-required="true" type="password" name="user[password]" id="user_password" placeholder="Enter Password">
          </div>
          <div class="input password required user_password_confirmation">
            <label class="password required" for="user_password_confirmation"><abbr title="required"></abbr><b>Password confirmation</b></label>
            <input class="password required" required="required" aria-required="true" type="password" name="user[password_confirmation]" id="user_password_confirmation" placeholder="Repeat Password">
          </div>
          
          <div class="form-actions clearfix">
            <button type="submit" class="signupbtn" name="commit" value="Sign up" class="btn">Sign Up</button>
            <button type="button" class="cancelbtn" onclick="back();">Cancel</button>
          </div>
        </div>
    </div>
  </body>
</html>